body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #currentTime {
    margin-top: 20px;
    font-size: 24px;
  }
  